<!DOCTYPE html>
<html lang="{{@site.locale}}">
    <!-- default.hbs -->
    {{!-- The default templage to run on any .hbs template that uses the XXXX at
    the start of their code, used mainly to place your boilerplate code --}}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{meta_title}}">
        <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
        <script src="{{asset 'js/app.js'}}"></script>
        <script src="{{asset 'js/pwa.js'}}"></script>
        <title>{{meta_title}}</title>
        {{ghost_head}}
    </head>
    <body class="{{body_class}}">
        <header>
            <h1>Hello, World!</h1>
            <h2>{{title}}</h2>
            {{#if @site.navigation}}
            <a class="menu-button" href="#"><span class="word">Menu</span></a>
            {{/if}}
            <nav>
                <dl class="main-nav">
                    <dh>
                        Head
                    </dh>
                    <dd>
                        Description
                    </dd>
                </dl>
            </nav>
        </header>
        <div id="mainview">
            {{{body}}}
        </div>
        <footer>
            {{#if @site.secondary_navigation}}
            {{navigation type="secondary"}}
            <a class="menu-button" href="#"><span class="word">Menu</span></a>
            {{/if}}
        </footer>
        {{!-- Must be the last thing before the closing body tag --}}
        {{ghost_foot}}
    </body>
</html>